<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
            1. In the following 40 clips, you will see <br><br>
            i. a cropped out target object, followed by <br>
            ii. <b>eye movements (yellow dots)</b> scanning an image, searching for the target object. <br><br>
            2. The eye movements you will see were produced by a <b>Human</b> or by a <b>Machine</b>. <br><br>
            3. You will be asked two questions: <br><br>
            i. What do you see in the image? <br>
            ii. Is the path of eye movements from a Human or a Machine?  <br><br>
            4. The first image may take longer to load (usually around 15 seconds). Please do not refresh the browser and wait patiently.
        <br>
                
        </p>
<!-- 
    NOTE: Below is a sample trial. -->

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>    

	</div>      
    <br>
    <!-- <STRONG>Pay attention to the yellow dots (eye movements).</STRONG> <br>
    <div class="container">
        <div class="row">
          <div class="span4"></div>
            <div class="span4"><img class="center-block" src="http://kreimanlab.com/prachiMturk/naturaldesign_model/fig_naturaldesign_conv_only_naturaldesign_conv_only_img20_nfix56.gif" alt="stimuli" style="width:40%"/></div>
          <div class="span4"></div>
        </div>
    </div>
    <center>
    Is the path of eye movements shown in this clip from <b>human</b> or <b>machine</b>? :<br>
    <input type="radio" id="machine" name="choose_response" value="Machine" checked>
    <label for="machine">Machine</label><br>
    <input type="radio" id="human" name="choose_response" value="Human">
    <label for="human">Human</label><br>

    What do you see in the above image?:<br>
    <input type="radio" id="A" name="choose_object" value="Fish">
    <label for="A">Fish</label><br>
    <input type="radio" id="B" name="choose_object" value="People" checked>
    <label for="B">People</label><br>
    <input type="radio" id="C" name="choose_object" value="Bathtubs">
    <label for="C">Bathtubs</label><br>
    </center>       -->
    
    <div class="instructionsnav">        
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg pull-right continue" onclick="display_instructions_1()">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
    

	<hr />
    
</div>
