<div id="container-exp">
	<div id="trial">
		<center><u> Please complete the prompt below:</u></center>	
		<center>
			<iframe id='stimdisplay' height="50" width="190" title="description"></iframe>
		</center>
		
<center>
		<div id="stim"></div>			
		
		  <form>
         		<br> <STRONG> Guess: </STRONG><br> <input type="text" name="guess_word" id = "guess_word" value = "_">       <br>
	
     		 </form>

		<p> Make sure you typed your association before continuing </p>
		<button type="button" id="submittrial" value="submittrial" >
                Submit <span class="glyphicon glyphicon-arrow-right"></span>
                
        </button>  
              
    	<div id="demo"></div>
	</div>
 </center>
</div>

