 <head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
 </head>

<center>
<h1>Please answer below.</h1>
<div id="container">
<div id="stim"></div>
<iframe width="500" height="100" frameBorder="0" id='stimresp' src=""></iframe>
</div>
</center>





<div id="container-exp">
    <div class="container">
        <div id="trial">
            <center>
              <table>
                <!-- <div id="stim"></div> -->
                        <center>
                <tr>
                    <td style="max-width:300px;" id="form1">
                        <!-- <b>Does the image contain the following - "wooden floor"? </b> -->

                        <!-- <iframe id="stim" src="static/responses/trial_img_src.html"></ifram> -->
                        <center>
                        <div id="stim2"></div>
                        <!-- <center> -->
                        <form>
                        <input type="radio" id="topic1" name="topic" value="1">
                          <label for="topic1" id="topic1-label"> Yes </label><br>
                          <input type="radio" id="topic2" name="topic" value="2">
                          <label for="topic2" id="topic2-label"> No </label><br>
                        </form>
                        </center>
                    </td>
                    <td style="max-width:300px;" id="form2">
                        <center>
                        <b>Is the speaker a human or a machine? </b>
                        <!-- <div id="stim"></div> -->
                        <form>
                        <input type="radio" id="human" name="Aclass" value="Human">
                          <label for="human" id="human-label"> Human </label><br>
                          <input type="radio" id="machine" name="Aclass" value="Machine">
                          <label for="machine" id="machine-label"> Machine </label><br>
                        </form>
                    </center>
                    </td>


                </tr>
            </table>

              <div class="instructionsnav">
                  <button type="button" id="submittrial" value="submittrial" class="btn btn-primary btn-lg pull-right">
                          Submit <span class="glyphicon glyphicon-arrow-right"></span>
                  </button>
              </div>
          </center>

        </div>
  </div>
</div>
