<div id="container-instructions">

    <h1>Sorry!</h1>

    <hr />

    <div class="instructions well">

        <p style="font-size: 120%">
            
                <b>We regret to inform you that, for this particular task, we are seeking native speakers only.</b><br>
                We appreciate your interest and encourage you to stay tuned for future opportunities.<br>
                Thank you for your understanding. <br>

            <br>
            <br>
            
        </p>
    <br>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="exit" value="exit" class="btn btn-primary btn-lg">
                Exit <span class="glyphicon glyphicon-off"></span>
                </button>
            </div>
        </div>
    </div>

</div>