<div id="container-exp">
	<div id="trial">
		
		<center>
			<iframe id='stimdisplay' height="50" width="190" title="description"></iframe>
		</center>
		<center><u>Type your association (first word that comes into your mind) </u></center>	

		<div id="stim"></div>			
		
		  <form>
         		<br> <STRONG> Your Guess Word: </STRONG><br> <input type="text" name="guess_word" id = "guess_word" value = "_">       <br>
	
     		 </form>

		<p> Make sure you typed a guess word before continuing </p>
		<button type="button" id="submittrial" value="submittrial" >
                Submit <span class="glyphicon glyphicon-arrow-right"></span>
                
        </button>  
              
    	<div id="demo"></div>
	</div>
</div>
S
