<html>
    <head>
	<div id="container-instructions">

		<h1>Instructions</h1>

		<hr />

		<div class="instructions well">

		    <p>
			 In each trial of this task you will be given a word in English ('cue word') and you have to type the first word that comes into your mind ('guess word'). 
			 Please follow the following instructions:

				<br>1) For each given word - please write only ONE word that comes into your mind. Please refrain from spaces. </br>
				<br>2) Please use only alphabetical characters. Do not type numbers characters (0123456789) or any symbol other than letters</br>


			  The test is done in English only.
  
			<br>
			
		</p>

	    <STRONG>NOTE: Below is a sample trial. In this example, the given cue word is 'dog', and the paricipant's 'guess word' is 'cat'.     </STRONG>

		    <script type="text/javascript">
		    //console.log(psiTurk.getInstructionIndicator())
		    </script>    

		</div>      
	    <br>
	    
	    <center>
		<br> <STRONG> Cue: nearly; Guess: half
		<br>      Cue: business; Guess: money
		<br>      Cue: pretty; Guess: nice
		<br> Cue:  dog; Guess: </STRONG> </br>
	    	
	    </center>
		
	    <center>
		<br>
		<br>
		    <center><u>Your Guess </u></center>	
		
		
		<div id="stim"></div>			
		  <form>
         		<br> <STRONG> Guess: </STRONG><br> <input type="text" name="guess_word" value="cat" id = "guess_word">       <br>
	
     		 </form>

	    </center>
	    
	    <div class="instructionsnav">        
		<button type="button" id="next" value="next" class="btn btn-primary btn-lg pull-right continue" onclick="instruct_ready()" >
			Next <span class="glyphicon glyphicon-arrow-right"></span>
		</button>
	    </div>
	    

		<hr />
	    
	</div>

    </body>
</html>

