<html>
    <head>
	<div id="container-instructions">

		<h1>Instructions</h1>

		<hr />

		<div class="instructions well">

		    <p>
			 In each trial of this task you will be given a word in English ('cue word') and you have to type the first word that comes into your mind ('guess word'). 
			 Please follow the following instructions:

				<br>1) For each given word - please write only ONE word that comes into your mind. Please refrain from spaces. </br>
				<br>2) Please use only alphabetical, lowercase letters (a - z). Do not type numbers characters (0123456789) or any symbol other than letters</br>
				<br>3) If your guess word is a verb - please use its base form (e.g., go, run, climb)</br>
				<br>4) If your guess word is a noun - please use the singular form (e.g., kid instead of kids)				</br>

			  The test is done in English only.
  
			<br>
			
		</p>

	    <STRONG>NOTE: Below is a sample trial. In this example, the given cue word is 'dog', and the paricipant's 'guess word' is 'cat'.     </STRONG>

		    <script type="text/javascript">
		    //console.log(psiTurk.getInstructionIndicator())
		    </script>    

		</div>      
	    <br>
	    
	    <center>
		<br> <STRONG> Cue word: </STRONG> </br>
	    	 dog 
	    </center>
	    <center>
		<br>
		<br>
		    <center><u>Type your association (first word that comes into your mind) </u></center>	
		
		
		<div id="stim"></div>			
		  <form>
         		<br> <STRONG> Your Guess Word: </STRONG><br> <input type="text" name="guess_word" value="cat" id = "guess_word">       <br>
	
     		 </form>

	    </center>
	    
	    <div class="instructionsnav">        
		<button type="button" id="next" value="next" class="btn btn-primary btn-lg pull-right continue">
			Next <span class="glyphicon glyphicon-arrow-right"></span>
		</button>
	    </div>
	    

		<hr />
	    
	</div>

    </body>
</html>

